/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define SYM 1
#define NUM 2
#define FN 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt {
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
};

&mt {
    quick-tap-ms = <200>;
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LGUI Q   &kp W  &kp E  &kp R      &kp T              &kp Y      &kp U       &kp I  &kp O  &mt RALT P
&mt LCTRL A  &kp S  &kp D  &kp F      &kp G              &kp H      &kp J       &kp K  &kp L  &mt RCTRL Z
             &kp X  &kp C  &kp V                                    &kp B       &kp N  &kp M
                           &lt 1 TAB  &mt LSHFT ENTER    &kp SPACE  &lt 2 BSPC
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
&kp LGUI    &kp N1  &kp N2  &kp N3  &none     &none            &kp LBKT   &kp RBKT   &kp BSLH  &mt RALT GRAVE
&caps_word  &kp N4  &kp N5  &kp N6  &kp N0    &kp PLUS         &kp MINUS  &kp EQUAL  &kp SEMI  &mt RCTRL APOS
            &kp N7  &kp N8  &kp N9                             &kp COMMA  &kp DOT    &kp FSLH
                            &trans  &trans    &mt RSHFT SPACE  &lt 3 DEL
            >;
        };

        fn_layer {
            bindings = <
&mt LALT F1   &kp F2   &kp F3   &kp F4     &kp F5       &kp HOME    &kp PG_DN   &kp PG_UP     &kp END       &kp RGUI
&mt LCTRL F6  &kp F7   &kp F8   &kp F9     &kp F10      &kp LEFT    &kp DOWN    &kp UP        &kp RIGHT     &kp DEL
              &kp F11  &kp F12  &kp PSCRN                           &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP
                                &lt 3 ESC  &kp LSHFT    &kp RSHIFT  &trans
            >;
        };

        adjust_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans    &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans
            &trans        &trans        &trans                          &trans  &trans  &trans
                                        &trans        &trans    &trans  &trans
            >;
        };
    };
};
