/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define SYM 1
#define NUM 2
#define FN 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt {
    quick-tap-ms = <200>;
    flavor = "hold-preferred";
};

&mt {
    quick-tap-ms = <200>;
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&mt LCTRL Q   &kp W  &kp E  &kp R        &kp T          &kp Y      &kp U          &kp I  &kp O  &mt LALT P
&mt LSHIFT A  &kp S  &kp D  &kp F        &kp G          &kp H      &kp J          &kp K  &kp L  &mt RSHIFT Z
              &kp X  &kp C  &kp V                                  &kp B          &kp N  &kp M
                            &lt SYM TAB  &lt NUM RET    &kp SPACE  &mt LGUI BSPC
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
&kp GRAVE   &none      &none     &none     &none     &none       &kp LBKT   &kp RBKT    &kp BSLH   &kp GRAVE
&kp LSHIFT  &none      &none     &none     &none     &none       &kp MINUS  &kp EQUAL   &kp SEMI   &kp APOS
            &kp LCTRL  &kp LALT  &kp LGUI                        &kp COMMA  &kp PERIOD  &kp SLASH
                                 &trans    &mo FN    &caps_word  &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
&kp ESC     &kp HOME   &kp UP    &kp END    &kp PG_UP    &kp COMMA  &kp N7  &kp N8  &kp N9  &kp N0
&kp LSHIFT  &kp LEFT   &kp DOWN  &kp RIGHT  &kp PG_DN    &kp DOT    &kp N4  &kp N5  &kp N6  &kp DEL
            &kp LCTRL  &kp LALT  &kp LGUI                           &kp N1  &kp N2  &kp N3
                                 &mo FN     &trans       &trans     &trans
            >;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
&kp F1      &kp F2     &kp F3    &kp F4    &kp F5     &kp F6      &kp F7        &kp F8        &kp F9        &kp F10
&kp LSHIFT  &none      &none     &kp F11   &kp F12    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP      &kp RSHIFT
            &kp LCTRL  &kp LALT  &kp LGUI                         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
                                 &trans    &trans     &trans      &bt BT_CLR
            >;
        };
    };
};
